.continue {
  margin-bottom: 10%;
}
.welcome {
  margin-top: 102px;
  margin-bottom: 10%;
}
input {
  margin-left: 24px;
  width: 87%;
  margin-right: 24px;
  margin-bottom: 36px;
}
.form {
  margin-bottom: 0;
}
